.o_report_pp30_bg {
  background-image: url("/account_invoice/static/src/img/pp30.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}

.o_report_pp36_bg {
  background-image: url("/account_invoice/static/src/img/pp36_page-0001.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}

.o_report_pnd54_bg {
  background-image: url("/account_invoice/static/src/img/pnd54_page-0001.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}

.o_report_pnd1_bg {
  background-image: url("/account_invoice/static/src/img/pnd1_page-0001.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}

.o_report_pnd1g_bg {
  background-image: url("/account_invoice/static/src/img/pnd1g_page-0001.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}

.o_report_pnd3_bg {
  background-image: url("/account_invoice/static/src/img/270360_WHT3_page-0001.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}

.o_report_pnd53_bg {
  background-image: url("/account_invoice/static/src/img/WHT53_041060_page-0001.jpg");
  background-size: 300mm 424mm;
  width: 300mm;
  height: 424mm;
}