.o_address_local_thai_50 {
    display: inline-block;
    width: 49% !important;;
    margin-right: 1%;
}

.o_address_local_thai_40 {
    display: inline-block;
    width: 39% !important;;
    margin-right: 1%;
}

// .o_address_local_thai_33 {
//     display: inline-block;
//     width: 32% !important;;
//     margin-right: 1%;
// }

// .o_address_local_thai_30 {
//     display: inline-block;
//     width: 29% !important;;
//     margin-right: 1%;
// }

.o_address_local_thai_20 {
    display: inline-block;
    width: 19% !important;;
    margin-right: 1%;
}